@import "./variables";


.circle {
  width: 250px;
  height: 250px;
  position: absolute;
  border-radius: 100%;
  background: $light-red;
}

.wrapper {
  position: relative;
  width: 250px;
  height: 250px;
}

.wrapper .circle {
  width: 250px;
  height: 250px;
  position: absolute;
  border-radius: 100%;
  background: $light-red;
}

.wrapper .pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
}

.wrapper-border {
  border: 10px solid rgba(0,0,0,1);
}

.wrapper .spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  z-index: 200;
  border-right: none;
  animation: rota 40 + s linear infinite;
}

.wrapper:hover .spinner,
.wrapper:hover .filler,
.wrapper:hover .mask {
  animation-play-state: running;
}

.wrapper .filler {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  left: 50%;
  opacity: 0;
  z-index: 100;
  animation: opa 40 + s steps(1,end) infinite reverse;
  border-left: none;
}

.wrapper .mask {
  width: 50%;
  height: 100%;
  position: absolute;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  background: $light-red;
  border: none;
  opacity: 1;
  z-index: 300;
  animation: opa steps(1,end) infinite;
  -webkit-animation-duration: 40 + s;
  -moz-animation-duration: 40 + s;
  -o-animation-duration: 40 + s;
  animation-duration: 40 + s;
}

@keyframes rota {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes opa {
  0% { opacity: 1; }
  50%, 100% { opacity: 0; }
}


@media only screen and (max-width: 600px) {
  .circle {
    width: 125px;
    height: 125px;
    position: absolute;
    border-radius: 100%;
    background: $light-red;
  }

  .wrapper {
    position: relative;
    width: 125px;
    height: 125px;
  }

  .wrapper .circle {
    width: 125px;
    height: 125px;
    position: absolute;
    border-radius: 100%;
    background: $light-red;
  }

  .wrapper-border {
    border: 7px solid rgba(0,0,0,1);
  }

}
