
.NewSession {
  width: 100%;
  height: 100%;
  -webkit-animation: color-fade-anim 14s infinite; /* Safari 4.0 - 8.0 */
  animation: color-fade-anim 14s infinite;
  form {
    margin: 0 auto;
    max-width: 380px;
  }

  p {
    text-align: center;
    font-size: 40px;
    color: white;
  }
}

.form-control:valid~.invalid-feedback {
  background-color: green;
}

.form-control-feedback {
  top: 8.5px;
  right: 10px;
}

.submitButton {
  width: 100%;
  height: 100%;
}

.flex-container {
  display: flex;
  align-items: center;
}

.button {
   display: flex;
   align-items: stretch;
 }

.table-field{
  padding: 15px;
  margin-top:15px;
  margin-bottom: 0;

  text-align: center;
  font-weight: bolder;
}

.input-field {
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;

  text-align: center;
  font-weight: bolder;
}

.input-field-color {
  color: black;
  background-color: white;
  outline: none;
  border: 2px solid white;
  border-radius: 5px;
}

.input-field-color:focus {
  border-color: black;
}

.input-field-color:not(focus) {
  border-color: lightgrey;
}

.submit-button-color {
  color: white;
  background-color: black;
  outline: none;
  border: 2px solid transparent;
  border-radius: 5px;
}

.submit-button-color:focus {
  border: 2px solid white;
}

.fullscreen {
  width: 100%;
  height: 100%;
}

.appFont {
  font-family: appFont;
}

@font-face {
  font-family: appFont;
  src: url("../../assets/fonts/CaviarDreams_Bold.ttf");
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes color-fade-anim {
  0%   {background: #45a3e5;}
  17%	 {background: #3cc;}
  34%	 {background: #66bf39;}
  51%	 {background: #ffa602;}
  67%	 {background: #eb670f;}
  84%	 {background: #f35;}
  100% {background: #864cbf;}
}

/* Standard syntax */
@keyframes color-fade-anim {
  0%   {background: #45a3e5;}
  17%	 {background: #3cc;}
  34%	 {background: #66bf39;}
  51%	 {background: #ffa602;}
  67%	 {background: #eb670f;}
  84%	 {background: #f35;}
  100% {background: #864cbf;}
}

