@import "../../styles/variables";
@import "../../styles/timer";


.timer {
  position: absolute;

  left: -moz-calc(50% - 125px); /* Firefox */
  left: -webkit-calc(50% - 125px); /* WebKit */
  left: calc(50% - 125px); /* Standard */

  top: -moz-calc(50% - 125px); /* Firefox */
  top: -webkit-calc(50% - 125px); /* WebKit */
  top: calc(50% - 125px); /* Standard */

  img {
    width: 100%;
    height: 100%;
  }

}

.timer-img {
  position: absolute;
  z-index: 1000;
}

.timer-counter {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  font-size: 50px;
  font-weight: bolder ;
}

.question {
  padding: 10px;
  padding-top: 30px;
  background-color: $light-red;

  p {
    font-size: 20px;
    font-weight: bolder;
    color: white;
  }
}

.answer-counter {

  margin: 5px;

  p {
    font-size: 20px;
    font-weight: bolder;
    margin: auto;
  }
}

.answer {

  img {
    width: 50px;
    height: 50px;
    padding: 10px;
  }

  p {
    padding: 30px;
    padding-top: 15px;

    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }

}
.grid-fullscreen {
  width: 100%;
  height: calc( 100% - 120px );
}

.grid-container {
  display: grid;
  position: relative;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.grid-item {
  border-radius: 5px;
  font-size: 20px;
  margin: 2px;
}

.next-button {
  justify-self: right;
}

.orientation-vertical {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.orange {
  background-color: $myorange;
}

.red {
  background-color: $red;
}

.green {
  background-color: $green;
}

.blue {
  background-color: $light-blue
}

@media only screen and (max-width: 600px) {
  .timer {
    position: absolute;

    left: -moz-calc(50% - 62.5px); /* Firefox */
    left: -webkit-calc(50% - 62.5px); /* WebKit */
    left: calc(50% - 62.5px); /* Standard */

    top: -moz-calc(50% - 62.5px); /* Firefox */
    top: -webkit-calc(50% - 62.5px); /* WebKit */
    top: calc(50% - 62.5px); /* Standard */

    img {
      width: 100%;
      height: 100%;
    }

  }
}