@import "../../styles/variables";

.color-animation {
  -webkit-animation: color-fade-anim 14s infinite; /* Safari 4.0 - 8.0 */
  animation: color-fade-anim 14s infinite;
}

.add-question {
  width: 80%;
  margin-bottom: 20px;
  padding: 20px;
  border-width:5px;
  border-style:dashed;
  border-color: black;
  outline: none;

  transition: background-color .2s ease-out;

  img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  p {
    font-size: 20px;
    font-weight: bolder;
  }

  &:hover, &:active, &:focus {
    // background-color: rgba(0, 0, 0, 0.5);
    background-color: $light-grey;
  }

}

.custom-width {
  width: 80%;
}

.margin-right {
  margin-right: 2px;
}

.margin-left {
  margin-left: 2px;
}

.has-feedback,
.form-control {
  padding-right: 0;
}

.rotate {
  img {
    animation: rotate-keyframes 500ms;
  }
}

@keyframes rotate-keyframes {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

.questionsList {
  list-style: none;
  padding-left: 0;

  li {
    position: relative;
    color: #333;
    background-color: rgba(255,255,255,.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style-type: none;

    transition: background-color .2s ease-out;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  p {
    margin: 0;
  }

}

.questionsList li:hover {
  background-color: white;
  cursor: pointer;
}

.delete-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 90%;
  background-color: transparentize($light-red, 0.5);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topright: 5px;

  img {
    height: 40px;
    width: 40px;
  }
}

.answers {

  width: 90%;

  li {
    list-style-type: none;
    border: 1px solid black;
    border-radius: 5px;
  }

  ul {
    list-style-type: none;
  }

  .delete-btn {
    background-color: transparentize($light-blue, 0.5);
  }
}


