.flex-container-center-v-h {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-height {
  height: 100%;
}

.game-pin {
  margin-top: 10px;
}

.member-list {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  overflow-y: scroll;
}