.SessionList .sessions h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    overflow: hidden;
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.SessionList .sessions p {
    color: #666;
}

.add-session-field {
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.flex-container-left {
    display: flex;
    align-items: left;
}