.answerSelected {
  border: 5px solid black;
  border-radius: 5px;
}

.answerSelectedAnim {
  animation: answerSelectedAnim_5893 2s ease-out infinite;
  transform-origin: 50% 50%;
}

@keyframes answerSelectedAnim_5893 {
  0% {  transform: scale(1) }
  18.75% {  transform:scale(3.0) rotate(8deg) }
  25% {  transform:scale(3.0) rotate(-8deg) }
  31.25% {  transform:scale(3.0) rotate(8deg) }
  37.5% {  transform:scale(3.0) rotate(-8deg) }
  43.75% {  transform:scale(3.0) rotate(8deg) }
  50% {  transform:scale(1) rotate(0) }
  100% {  transform:scale(1) rotate(0) }
}