@media all {
    .LoginMember {
        width: 100%;
        height: 100%;
        -webkit-animation: color-fade-anim 14s infinite; /* Safari 4.0 - 8.0 */
        animation: color-fade-anim 14s infinite;
        form {
            margin: 0 auto;
            max-width: 268.5px;
        }
    }

    .LoginMember form span.help-block {
        font-size: 14px;
        padding-bottom: 10px;
        color: #999;
    }


    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes color-fade-anim {
        0%   {background: #45a3e5;}
        17%	 {background: #3cc;}
        34%	 {background: #66bf39;}
        51%	 {background: #ffa602;}
        67%	 {background: #eb670f;}
        84%	 {background: #f35;}
        100% {background: #864cbf;}
    }

    /* Standard syntax */
    @keyframes color-fade-anim {
        0%   {background: #45a3e5;}
        17%	 {background: #3cc;}
        34%	 {background: #66bf39;}
        51%	 {background: #ffa602;}
        67%	 {background: #eb670f;}
        84%	 {background: #f35;}
        100% {background: #864cbf;}
    }
}
