.RegisterAdmin {
  width: 100%;
  height: 100%;
  -webkit-animation: color-fade-anim 14s infinite; /* Safari 4.0 - 8.0 */
  animation: color-fade-anim 14s infinite;
}

.RegisterAdmin form {
  margin: 0 auto;
  max-width: 268.5px;
}

.checkbox {
    color: white;
}

.RegisterAdmin form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
}

.shake-horizontal:hover, .shake-trigger:hover .shake-horizontal, .shake-horizontal.shake-freeze, .shake-horizontal.shake-constant {
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

.login-reference {
  margin-bottom: 0;
  padding-right: 5px;
  //color: white;
}



