@import './components/login/LoginMember.scss';
@import './components/login/RegisterAdmin.scss';
@import './components/admin/PublicScreen.scss';
@import './components/admin/SessionInvite.scss';

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

header {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 1;
  a{
    color: white;
  }
}

#root {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

.scrollable {
  overflow: auto;
  max-height: 100vh;
}

button:disabled {
  opacity: 0.5;
}

@font-face {
  font-family: logoFont;
  src: url("./assets/fonts/FunSized.ttf");
}

.fontStyle {
  text-align: center;
  font-size: 35px;
  color: white;
}

.fullscreen {
  width: 100%;
  height: 100%;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.form-control:valid~.invalid-feedback {
  background-color: green;

}

.form-control-feedback{
  float: right;
  right:5px;
}

.submitButton {
  width: 100%;
  height: 100%;
}

.input-field {
  padding: 15px;
  margin-top: 0;
  margin-bottom: 0;

  text-align: center;
  font-weight: bolder;
}

.input-field-color {
  color: black;
  background-color: white;
  outline: none;
  border: 2px solid white;
  border-radius: 5px;
}

.input-field-color:focus {
  border-color: black;
}

.input-field-color:not(focus) {
  border-color: lightgrey;
}

.btn-default {
  color: white !important;
  background-color: black !important;
  outline: none !important;
  border: 2px solid transparent !important;
  border-radius: 5px !important;
}

.submit-button-color:focus {
  border: 2px solid white !important;
}

.logoFont {
  font-family: logoFont;
  font-size: 40px;
  color: white;
}

div.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

div.row {
  margin-right: 0px;
  margin-left: 0px
}

div.col-lg-1,div.col-lg-10,div.col-lg-11,div.col-lg-12,div.col-lg-2,div.col-lg-3,div.col-lg-4,div.col-lg-5,div.col-lg-6,div.col-lg-7,div.col-lg-8,div.col-lg-9,
div.col-md-1,div.col-md-10,div.col-md-11,div.col-md-12,div.col-md-2,div.col-md-3,div.col-md-4,div.col-md-5,div.col-md-6,div.col-md-7,div.col-md-8,div.col-md-9,
div.col-sm-1,div.col-sm-10,div.col-sm-11,div.col-sm-12,div.col-sm-2,div.col-sm-3,div.col-sm-4,div.col-sm-5,div.col-sm-6,div.col-sm-7,div.col-sm-8,div.col-sm-9,
div.col-xs-1,div.col-xs-10,div.col-xs-11,div.col-xs-12,div.col-xs-2,div.col-xs-3,div.col-xs-4,div.col-xs-5,div.col-xs-6,div.col-xs-7,div.col-xs-8,div.col-xs-9 {
  padding-left: 0;
  padding-right: 0;
}

.appFont {
  font-family: appFont;
  color: white;
}

@font-face {
  font-family: appFont;
  src: url("assets/fonts/CaviarDreams_Bold.ttf");
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes color-fade-anim {
  0%   {background: #45a3e5;}
  17%	 {background: #3cc;}
  34%	 {background: #66bf39;}
  51%	 {background: #ffa602;}
  67%	 {background: #eb670f;}
  84%	 {background: #f35;}
  100% {background: #864cbf;}
}

/* Standard syntax */
@keyframes color-fade-anim {
  0%   {background: #45a3e5;}
  17%	 {background: #3cc;}
  34%	 {background: #66bf39;}
  51%	 {background: #ffa602;}
  67%	 {background: #eb670f;}
  84%	 {background: #f35;}
  100% {background: #864cbf;}
}